.todo-card {
  background-color: white;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 1rem 0.7rem;
  width: 40rem;
}
.todo-card:hover {
  transform: translateY(-1px);
}
.todo-card h3 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text);
  font-size: 0.9rem;
}
.todo-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.todo-btn-group {
  display: flex;
}
.todo-btn-group i {
  padding-right: 0.4rem;
  cursor: pointer;
}
.edit-input {
  width: 100%;
  color: var(--main);
  border: 1px solid var(--main-light);
  font-size: 0.9rem;
  border-radius: 10px;
  margin-right: 0.7rem;

  box-shadow: 0px 0px 4px var(--main-light);
}
.edit-form {
  width: 100%;
  margin-right: 0.7rem;
}
