@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
span {
  color: rgb(68, 68, 68);
}
input {
  border: none;
  border-radius: 7px;
  padding: 0.8rem 0.5rem;
  background-color: #f2f4f7;
  color: #484848;
}
input:focus {
  outline: 2px solid #b4d0f9;
}
label {
  display: flex;
}
h1,
h2,
h3,
h4,
h5 {
  color: #202124;
}
