.map-container {
  height: 100vh;
}
.search-box {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  width: 21rem;
  background-color: white;
  z-index: 10;
  left: 10px;
  top: 2%;
  border-radius: 10px;
  gap: 1rem;
}
.main-search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-left: 3rem;
}

.results {
  display: flex;
  flex-direction: column;
}
.result-line {
  border: 1px solid rgb(231, 231, 231);
  width: 75%;
  margin: auto;
}
.search-box-title {
  font-size: 1.1rem;
}
.search-box .input-wrapper {
  width: 100%;
}
.input-wrapper input {
  width: 100%;
  position: relative;
}
