@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir.ttf") format("truetype"),
    url("./assets/fonts/Vazir.woff") format("woff"),
    url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: regular;
}
@font-face {
  font-family: "Vazir-bold";
  src: url("./assets/fonts/Vazir-Bold.ttf") format("truetype"),
    url("./assets/fonts/Vazir-Bold.woff") format("woff"),
    url("./assets/fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Vazir", sans-serif;
  direction: rtl;
}
span {
  color: rgb(68, 68, 68);
}
input {
  border: none;
  border-radius: 7px;
  padding: 0.6rem 0.5rem;
  color: #484848;
  font-family: inherit;
}
input::placeholder {
  font-family: "Vazir", sans-serif;
  font-size: 0.8rem;
  color: #a7a7a7;
}
input:focus {
  outline: 1px solid #1fd6be;
}
label {
  display: flex;
}
h1,
h2,
h3,
h4,
h5 {
  color: #202124;
}
.map-container {
  height: 100vh;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1fd6be; /* Color of the scrollbar handler */
  border-radius: 5px; /* Rounded corners for the handler */
}

* {
  scrollbar-color: #dafffa; /* Color of the scrollbar handler */
  scrollbar-width: thin; /* Width of the scrollbar */
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2f0ea;
}
