.filter-box {
  text-align: center;
  display: flex;
  gap: 0.4rem;
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--main-light);
  border-radius: 10px;
  align-items: center;
  max-width: max-content;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}
.filter-num-box {
  background-color: var(--main-light);
  padding: 0 0.3rem;
  border-radius: 5px;
}
.filter-num-box span {
  font-size: 0.8rem;
}
