.result-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  padding-right: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.result-item::before {
  content: url("/src/assets/Location.svg");
  width: 24px; /* Adjust the width and height as needed */
  height: 24px;
  margin-right: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
}
.title {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(87, 87, 87);
  white-space: nowrap;
  overflow: hidden; /* Optional: Hide overflowing text */
  text-overflow: ellipsis; /* Optional: Add ellipsis (...) for hidden overflow */
  max-width: 100%;
}
.subtitle-result {
  color: rgb(168, 168, 168);
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden; /* Optional: Hide overflowing text */
  text-overflow: ellipsis; /* Optional: Add ellipsis (...) for hidden overflow */
  max-width: 100%;
}

.line {
  border: 1px solid rgb(240, 240, 240);
  width: 85%;
  margin: 1rem auto;
}
