.add-icon {
  transition: all 0.3s ease-out;
  cursor: pointer;
  height: 100%;
}
.add-icon:hover {
  transform: scale(1.1);
}
.add-todo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.todo-input {
  border-radius: 10px;
  margin-bottom: 0.4rem;
  width: 100%;
}
.todo-input::placeholder {
  color: rgb(182, 182, 182);
}
.add-todo-form {
  position: relative;
  width: 100%;
}
.todo-revealer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  transition: all 0.4s ease-in-out;
  z-index: 10;
}
